@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
/* reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
/* top main page */
.primary{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}
.side_one{
    background-color: rgb(247, 231, 233);
    padding: 10px;
}

/* the doordash logo styles */
.logo .doordash{
    margin-left: 20px;
    background-image:url('assets/doordashLogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    width: 150px;
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo a{
    text-decoration: none;
    color: red;
    font-weight: 800;
    font-size: larger;
}
/* mobile phone style */
.primary .phone img{
    margin-left: 100px;   
}
/* side two styles */
.side_two nav{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.side_two nav ul{
    display: flex;
    gap: 15px;
}

.side_two ul li{
    list-style-type: none;
}

.side_two button{
        background-color: red;
        color: white;
        border: none;
        border-radius: 13px;
        padding: 7px 20px;
        margin-bottom: 8px;
}
.side_two header{
    margin-top: 20px;
}
.side_two .login_text{
    margin:40px 20px;
}

.side_two .login_text h2{
    font-size: 50px;
}
.side_two .login_text p{
    margin-top:10px;
    color: grey;
}

.form_details{
    column-gap: 20px;
}

.form_details button{
    margin-left: -50px;
    padding:11px 50px;
    border-radius: 20px;
    border: 1px solid black;
}
.form_details input{
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    width: 60%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.form_details #sign_up{
    position: relative;
    top: 20px;
    color: red; 
    font-weight: 900; 
    font-size: large;
}
.form_details, .login_text{
    padding-left: 20px;
}
.side_two select{
    padding: 2px 6px;
    border-radius: 8px;
    margin-bottom: 8px;
 }
  /* what is doordash */
  .the_what{ 
    text-align: center;
    background-color: rgba(245, 241, 241, 0.866);
 }
 .the_what h2,  .the_what p{
    padding: 20px 300px;

 }

 /* why deliver with DoorDash */
 .the_why{
    text-align: center;
    padding: 20px; 
 }
 .the_why .wallet, .map, .dash, .calendar, .search, .to-do{
    margin-top: 30px;
 }

 /* sign list section */
 .sign_up{
    display: flex;
    justify-content: center;    
    padding: 100px 0;
    background-color: rgb(250, 236, 238);
 }
 .sign_up .requirements{
    margin-right: 5%;
 }
 .sign_up h2{
    position: relative;
    bottom: 80px;
    left:20%
 }
 /* how to dash */
 .the_how{
    text-align: center;
 }

 .FAQ{
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .FAQ h2    {
    text-align: center;
 }      
 summary{
    padding: 10px;
    margin-top: 25px;
    border-radius: 3px;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
 }

 footer{
    display: flex;
    gap: 30px;
    background-color: rgb(42, 41, 41);
    color: white;
    padding: 30px;
 }
 footer ul{
    list-style-type: none;
 }

 footer .stores{
    padding: 15px;
 }
footer .social_media{
    padding: 0 20px;
    gap: 20px;
 }

 .social_media img[alt="facebook"], img[alt="twitter"]{
    margin-right: 30px;
 }



 @media screen and (max-width:831px) {
    .form_details button{
       padding: 10px 20px;
    }
 }
